.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius:25px;
}

.inputStyle{
    font-size: 1.5em;
    padding: 3px;
    display: inline-block;
    width: 50%;
    outline:0;
    background:#FCFCFC;
    border-radius:25px;
}
